<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="es.centic.android.curso"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".CursoAndroid"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MisPreferencias"
                  android:label="@string/app_name"/>
	
		<activity
    		android:label="Noticias" android:name="NewsLiveFolder">
    		<intent-filter>     
        		<action android:name="android.intent.action.CREATE_LIVE_FOLDER" />
        		<category android:name="android.intent.category.DEFAULT" />
    		</intent-filter>
		</activity>
	
	<provider android:authorities="com.juanjofp.provider.news" android:name="NewsProvider">
    </provider>
    </application>
</manifest>